@font-face {
  font-family: "BubblegumSans-Regular";
  src: URL("../public/BubblegumSans-Regular.ttf") format("truetype");
}

.word_game_letter {
  height: 100px;
  width: 100px;
  box-shadow: 8px 8px 16px black;
  border-radius: 5px;
  font-family: "BubblegumSans-Regular";
  background: hotpink;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 72px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &.mini {
    height: 75px;
    width: 75px;
    font-size: 60px;
  }

  &.is_revealed {
    background: #333333;
    box-shadow: 2px 2px 8px #66ffc2;
    border-radius: 5px;
  }
}
